.body{
  background-color: #D6DBDF;
}
*{
  padding:5px;
  margin:0;
  font-family:"Arial";
  list-style:none;
  text-decoration:none;
  text-decoration-color:blue;
}
.Card{
  position:relative;
  margin-top:50px
  padding:5px;
  width:370px;
  height:490px;
  background-color:#D6EAF8;
  border:2px solid;
  border-color:black;
  border-radius:10px;
  margin:auto;
  margin-top:50px

}

.Card img{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  width:95%;
  overflow:hidden;
  border:3px solid #34495E;
  background-color:#85C1E9 ;
}


.Card:hover{
  box-shadow:3px 3px 12px #2874A6;
}



button{
  border-radius:3px;
  margin-left:5px;
  margin-top:10px;
  margin-bottom:8px;
  background-color:#5499C7;
  border:1px solid #34495E;
  padding:4px;
  text-align:center;
}

button:hover{
  color:#F9E79F;
  background-color:#2874A6;
  transition:0.2s;
  cursor:pointer;
  box-shadow:2px 2px 8px #34495E;
}

.footer{
  font-size:9px;
  text-decoration:underline;
}
