body{
	margin: 120px;
}

.backGroundPurple {
	background-color: #200146;
}

.backGroundWhite {
	background-color: #ffffff;
}


.fontMain {
	font-family: Open Sans;
}

.block1 {
	width: 175px;
	padding: 10px;
	border-radius: 5px;
}

.subHeadings {
	font-size: 26px;
	color: #455c95;
}

.bodyCenter {
	text-align: left;
	color: black;

}
.userinput{
  font-style: absolute;
  padding:12px;
  border-radius:5px;
}

.buttons {
	text-allgn: center;
	background-color: #5495ff;
}

.buttons:hover {
	background-color: #2678ff;
}

.subHeadings {
	font-size: 22px;
}
